<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR ASSIGN PROJECT</title>
    <style type="text/css">
        .form-all{
        border:medium solid blue;
        }
        input{
        width:100%;
        padding:12px 20px;
        margin:8px 0;
        box-sizing:border-box;
        border:2px solid red;
        border-radius:4px;
        }

    </style>
</head>
<body bgcolor="#DCDCDC">


<form class="form" action="/assign" method="GET">
    <label><font color="blue">Employee ID : </label><input type="text" name="id" required><br><br>
    <label><font color="blue">Project Assigned :    </label><input type="text"  name="project" required><br><br>
    <label><font color="blue">Start Date :    </label><input type="date"  name="stdate" required><br><br>
    <label><font color="blue">End Date :    </label><input type="date" name="enddate" required><br><br>
    <center><button type="submit">Submit</button></center>


</form>


</body>
</html>