<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPLOYEE Details</title>
    <style type="text/css">
        .form-all{
        border:medium solid blue;
        }
        input{
        width:100%;
        padding:12px 20px;
        margin:8px 0;
        box-sizing:border-box;
        border:2px solid red;
        border-radius:4px;
        }

    </style>
</head>
<body bgcolor="#DCDCDC">


<form class="form" action="/fill" method="GET">
    <label><font color="blue">Employee ID : </label><input type="text"name="id" required><br><br>
    <label><font color="blue">Employee Name : </label><input type="text"name="name" required><br><br>
    <label><font color="blue">Email :    </label><input type="text"  name="email" required><br><br>
    <label><font color="blue">Mobile No :    </label><input type="text"  name="no" required><br><br>
    <label><font color="blue">Designation :    </label><input type="text" name="pos" required><br><br>
    <center><button type="submit">Submit</button></center>


</form>


</body>
</html>