<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HrPortal</title>
    <style>
  body{
  background:url('static/slide2.jpg');
  color:#fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div{
  margin-top: 100px;

  text-align: center;
}
h1{
  font-family: 'Lobster', cursive;
}
h3{
  font-family: 'Lobster', cursive;
}
button{
  font-size: 26px;
  padding:1% 3%;
  background-color:#00900aa;
  border-radius: 50px;

}
</style>


</head>
<body>
  <div>
    <h1 style="font-size:250%">The</h1>
    <h3 style="font-size:390%">HrPage</h2>
    <a href="/show"><button> EmployeeDetails </button></a>
     <a href="/show_assign"><button> Assigned Project </button></a>
      <a href="/assigns"><button>  Assignment </button></a>
	<a href="/show_report"><button>CheckReport </button></a>
</body>
</html>
