<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASSIGNED PROJECT</title>
    <style>
        table,td,th{
        border: 3px solid red;}
        table{
        border-collapse: collapse;
        width:100%;
        }
        th{height: 50px;}
        th,td{padding: 15px;}


    </style>
</head>
<body bgcolor="#F5FFFA">
<table border="1">
    <tr>
        <th>Employee ID </th>
        <!--<th>Employee Name</th>-->
        <th>Project Assigned</th>
          <th>Start Date</th>
          <th>End Date</th>

    </tr>
    {%if results%}
    {%for result in results%}
    <tr>
        <td>{{result[0]}}</td>
    <td>{{result[1]}}</td>
    <td>{{result[2]}}</td>
        <td>{{result[3]}}</td>
        <!--<td>{{result[4]}}</td>-->
    </tr>
    {%endfor%}
    {%endif%}

</table>

</body>
</html>