<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBMIT PROJECT REPORT</title>
    <style type="text/css">
     .form-all{
        border:medium solid blue;
        }
          input,textarea{

        padding:12px 20px;
        margin:8px 0;
        box-sizing:border-box;
        border:2px solid red;
        border-radius:4px;
        }
        </style>

</head>
<body bgcolor="#DCDCDC">
<form class="form" action="/proj" method="get">
    <label><font color="blue">Emp ID : </label><br><br><input type="text" name="empid"required></input><br><br>
    <label><font color="blue">Project Title : </label><br><br><input  type="text" name="title"required></input><br><br>
    <label><font color="blue">Project Report : </label><br><br><textarea name="pro" rows="20" cols="150"required></textarea>
     <center><button type="submit">Submit</button></center>

</form>


</body>
</html>